venv/
Scripts/
Lib/
Include/
etc/
share/
pyvenv.cfg
.env
__pycache__/
*.pyc

Data/*
!Data/README.md
vectorstore_index/

*.log
.cache/
.ipynb_checkpoints/

.vscode/
.idea/
*.code-workspace
.cursor/
logs/
